.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 700px;
  float: left;
}
.left-text {
  max-width: 400px;
  text-align: center;
  font-size: 40px;
  padding: 20px;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0))
}
