.left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 700px;
  float: left;
  /*background-color: black;*/
}
.left-text {
  max-width: 400px;
  text-align: center;
  font-size: 40px;
  padding: 20px;
}

.left-text {
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0))
}
