.right {
  background-color: yellow;
  float: right;
  flex: 0 0 200px;
  top: 50px;
  right: 0px;
  overflow-y: scroll;
  border: black;
  border-width: 5px;
  border-style: solid;
}

.list-item-text {
  height: 60px;
  width: 125px;
  padding-left: 15px;
  padding-top: 8px;
  display: grid;
  font-size: larger;
  line-height: 28px;
}

ul {
  margin: 3px 0px;
}

li {
  list-style-type: none;
  width: 200px;
  float: right;
  line-height: 150%;
}

li:hover {
  color: red;
  cursor: pointer;
}
li:hover .circle{
  color: white;
  background-color: blue;
}

.list-items {
  padding-left: 0px;
  text-align: left;
}

.circle {
	border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: red;
  text-align: center;
  font-size: 35px;
  float: left;
  margin: 10px 0px 10px 10px;
}
.list-description-wrapper {
  position: absolute;
  bottom: 10px;
  padding: 10px;
  width: 180px;
}
.list-description {
  font-size: large;
}
