.right {
  background-color: yellow;
  float: right;
  height: 100%;
  width: 200px;
  position: absolute;
  top: 50px;
  right: 0px;
  overflow-y: scroll;
  border: black;
  border-width: 5px;
  border-style: solid;
}

ul {
  margin: 8px 0px;
}

li {
  list-style-type: none;
  width: 200px;
  float: right;
  line-height: 150%;
}

li:hover {
  color: red;
  cursor: pointer;
}
li:hover .circle{
  color: white;
  background-color: blue;
}

.list-items {
  padding-left: 0px;
  text-align: center;
}

.circle {
	border-radius: 50%;
  width: 70px;
  height: 70px;
  line-height: 70px;
  background-color: red;
  text-align: center;
  font-size: 35px;
  float: left;
  margin: 10px 0px 10px 20px;
}

.list-description {
  position: absolute;
  bottom: 5px;
}
